h1 {
    color: darkblue;
}
.head {
    color: pink;

}
#css{
    color: indigo;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: grey;
    /*text-decoration: none;*/
}
a:hover{
    color: gold;
}
a:active{
    color: purple;
}
input:focus{
    background-color: pink;
}